.find-btn{
    background-color: skyblue;
    color: white;
    width: 130px;
    height: 45px;
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
}
@media screen and (min-width:990px) {
    .banner-title{
        font-size: 50px;
        font-weight: 700;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}